<template>
    <div class="number-block">
        <div
            class="number text-center m-1 font-weight-bold h1 border"
            :class="className"
            @click="showEdit"
            @mouseover="highlightOn('mouseover')"
            @mouseleave="highlightOff('mouseleave')"
            @touchstart="highlightOn('touchstart')"
            @touchend="highlightOff('touchend')"
        >
            {{ number.number }}
        </div>
        <div
            class="modal"
            v-show="modalIsVisible"
            @click="hideEdit"
        >
            <div
                class="modal-dialog modal-dialog-centered"
                @click="noAction"
            >
                <div class="modal-content">
                    <div class="modal-header">
                        Number Edit
                        <button type="button" class="close" @click="hideEdit">&times;</button>
                    </div>
                    <div class="modal-body row justify-content-center">
                        <div class="col-lg-3 col-4 input-group input-group-lg">
                            <input type="tel" title="Number" class="form-control" v-model="modifiedNumber">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" @click="hideEdit" class="btn btn-secondary">Cancel</button>
                        <button type="button" @click="deleteNumber" class="btn btn-danger">Delete</button>
                        <button type="button" @click="modifyNumber" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "NumberComponent",
        data: function () {
            return {
                className: [],
                highlightOnClass: ["text-light", "bg-secondary"],
                highlightOffClass: ["text-secondary", "bg-light"],
                modalIsVisible: false,
                modifiedNumber: this.number.number,
            }
        },
        mounted: function () {
            this.className = this.highlightOffClass;
        },
        props: {
            number: Object,
        },
        methods: {
            showEdit: function () {
                this.modifiedNumber = this.number.number;
                this.modalIsVisible = true;
            },
            hideEdit: function () {
                this.modalIsVisible = false;
            },
            noAction: function (e) {
                e.stopPropagation();
            },
            modifyNumber: function () {
                axios.put("/api/numbers/"+this.number.id, {
                    number: this.modifiedNumber
                }).then(function (res) {
                    console.log(res);
                }).catch(function (err) {
                    console.log(err);
                });
                this.hideEdit();
            },
            deleteNumber: function () {
                axios.delete("/api/numbers/"+this.number.id, {
                }).then(function (res) {
                    console.log(res);
                }).catch(function (err) {
                    console.log(err);
                });
                this.hideEdit();
            },
            highlightOn: function (eventName) {
                if (eventName === "mouseover" && "ontouchstart" in window) {
                    // スマホデバイスはmouseイベントを反応させない
                    return;
                }
                this.className = this.highlightOnClass;
            },
            highlightOff: function (eventName) {
                if (eventName === "mouseleave" && "ontouchstart" in window) {
                    // スマホデバイスはmouseイベントを反応させない
                    return;
                }
                this.className = this.highlightOffClass;
            }
        }
    }
</script>

<style scoped>
    .number {
        cursor: pointer;
        user-select: none;
    }
    .number-block .modal {
        display: block;
        background-color: rgba(0, 0, 0, .5);
    }
</style>
